#CountryDurationGoal {
  height: 30rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.7rem;
}

.option {
  width: 50%;
  padding: 2rem;
}

.option4 {
  display: flex;
  flex-direction: column;
}

.option-purposes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.option-purpose {
  width: 50%;
  &:last-child {
    /* font-size: 0.75em; */
  }
}

.description {
  font-weight: bold;
}